<!-- start: chef_assignments_marker_downloads_statistics.vm  -->
<div class="portletBody container-fluid">
	#navBarHREF( $allowAddAssignment $withGrade $allowGradeSubmission $allowAddAssignment $allowRecoverAssignment $allowAllGroups $assignmentscheck $allowUpdateSite $enableViewOption $view "markerdownstats" )

	<div class="page-header" id="marker_downloads_statistics">
        <h1>
			$tlang.getString("markerdownstats")
		</h1>
	</div>
	#if (!$!assignments.hasNext())
		<p class="instruction">
			$tlang.getString("gen.thearecur1")
		</p>
	#else
		<div class="panel-default">
			#foreach( $assignment in $assignments)
				#set ($assignmentReference = $!service.assignmentReference($assignment.Id))
				#set($assignmentProperties=$!assignment.getProperties())
					
				<div class="panel-heading" style="background: #fafafa; padding-left: 5px;"><h4 style="margin-top: 0px; margin-bottom: 0px;">$validator.escapeHtml($!assignment.Title)</h4></div>
				<div class="panel-body">
					<table class="table table-striped table-bordered">
						<thead>
							<tr style="background: #FAFAFA; font-weight: inherit">
								<th>Name of Marker</th>
								<th>Role</th>
								<th>Download</th>
								<th>Upload</th>
								<th>Download All</th>
								<th>In/Out/Total</th>
							</tr>	
						</thead>
						<tbody>
							#set($counter = 0)
							#set( $markers = ["Jansen van Vuuren, CJ (12345678)", "Knoetze, A (11111111)", "JSeemonster, S (22222222)"] )
							#set( $roles = ["Instructor", "Teaching Assistant", "Marker"] )
							#foreach( $marker in $markers )
								<tr #if( $counter % 2 == 0) style="background: #fff" #else style="background: #f9f9f9" #end>
									<td>$!marker</td>
									<td>$roles.get($counter)</td>
									<td><a href="#">Download</a></td>
									<td><a href="#">Upload</a></td>
									<td><a href="#">Download All</a></td>
									<td>2/20/25</td>
								</tr>
								#set( $counter = $counter + 1 )
							#end
						</tbody>	
					</table>
				</div>
			#end
		</div>
	#end
</div>	
<!-- end: chef_assignments_marker_downloads_statistics.vm  -->